/*body {
    background-color: aqua;
}*/

h1 {
    text-align: center;
}

#conteudo {
    width: 100%;
    float: right;
    text-align: center;
}

#menu {
    width: 20%;
    margin: 0; padding: 0;
    margin-top: 3%;
    float: left;
}

#menu ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}

#menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu a:hover {
    background: #E5F0FF;
    color: #039;
}

#sub {
    display: none;
}

#sub1 {
    display: block;
}

.list {
    list-style: none;
}

.list-item.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 15px, 15px, 25px;
    border-top: 1px, solid #CCCCCC;
}

.list-item.list-content {
    padding: 15px;
}

.list-item.list-content > li{
    display: block;
}