body, html {
    height: 100% !important;
    margin: 80 !important;
}

.bgcigano {
    background-image: url("../../images/orixas/cigano.jpeg") !important;
    background-repeat: no-repeat !important;
    background-size: 25% !important;
    background-position: center !important;
    background-attachment: fixed !important;
}