body, html {
    height: 100% !important;
    margin: 80 !important;
}

.bgexuMirim {
    background-image: url("../../images/orixas/exuMirim.jpeg") !important;
    background-repeat: no-repeat !important;
    background-size: 35% !important;
    background-position: center !important;
    background-attachment: fixed !important;
}