body, html {
    height: 100% !important;
    margin: 80 !important;
}

.bgogum {
    background-image: url("../../images/orixas/ogum.jpeg") !important;
    background-repeat: no-repeat !important;
    background-size: 20% !important;
    background-position: center !important;
    background-attachment: fixed !important;
}