body, html {
    height: 100% !important;
    margin: 80 !important;
}

.bgoxum {
    background-image: url("../../images/orixas/oxum.jpeg") !important;
    background-repeat: no-repeat !important;
    background-size: 50% !important;
    background-position: center !important;
    background-attachment: fixed !important;
}