body, html {
    height: 100% !important;
    margin: 80 !important;
}

.bgPomba Gira {
    background-image: url("../../images/orixas/Pomba Gira.jpeg") !important;
    background-repeat: no-repeat !important;
    background-size: 35% !important;
    background-position: center !important;
    background-attachment: fixed !important;
}